* {
    --main-color: #FFE2B0;
    box-sizing: border-box;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher Regular';
    src: url('../fonts/Philosopher/Philosopher.eot');
    src: url('../fonts/Philosopher/Philosopher.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Philosopher/Philosopher.woff') format('woff'),
    url('../fonts/Philosopher/Philosopher.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


body {
    background-color: var(--main-color);
}

header {
    text-align: center;
}

.red {
    color: #F15B40;
}

.logo {
    margin-bottom: 20px;
}

.hero-section {
    background-image: url(/src/img/01-Картинка-фона.jpg);
    height: 640px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.hero-box {
    height: 190px;
    width: 420px;
    position: relative;
    top: 54%;
    left: 50%;
    padding-top: 15px;
    text-align: center;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
}

.hero-textbox {
    border: 1px solid black;
    width: 390px;
    height: 160px;
    margin: 0 auto;
    text-align: left;
    padding: 17px 0 0 28px;

}

.hero-textbox__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Philosopher Regular';
}

.hero-textbox__p {
    font-size: 14px;
    margin: 0;
    font-family: 'RobotoRegular';
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
}

li {
    display: inline;
    margin-right: 100px;
    font-family: 'RobotoBold';
    font-size: 18px;
}

li:last-child {
    margin-right: 0;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: grey;
}


/* Image section */

.img-section {
    margin-bottom: 20px;
}

.img-section__icons {
    text-align: center;
    margin-bottom: 20px;
}

.img-section__icons img {
    margin-right: 76px;
}

.img-section__icons img:last-child {
    margin-right: 0;
}

.img-main-title {
    font-size: 96px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Philosopher Regular', sans-serif;
}

.img-main-p {
    font-size: 18px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: 'RobotoRegular';
}

/* Order section */

.order-section {
    margin-bottom: 20px;
}

.order-section-title {
    font-family: 'Philosopher Regular', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

iframe {
    display: block;
    margin: 0 auto;
}

/* Footer */

hr {
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    height: 70px;
}
